/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
_exported_templates

.DS_Store

**/.gradle/
**/.idea/
**/build/

!/build

/samples/scichart-dotnet-android-bindings/.idea/
/samples/scichart-dotnet-android-bindings/bin/
/samples/scichart-dotnet-android-bindings/obj/
/samples/scichart-dotnet-android-bindings/*.aar

**/local.properties