:root {
    --green: #42AD42;
    --dim: #050a30;
    --light: #f5f5f5;
    --blue: #44c8f1;

    --purple-gradient: linear-gradient(90deg, rgb(42, 99, 151), rgb(113, 55, 149), rgb(160, 36, 142));
    --purple-gradient-alt: linear-gradient(90deg, #12003e 25%, #1e0056 50%, #40008f 60%, #9c3874 88%, #457bb7 100%);
    --blue-gradient: linear-gradient(90deg, #29aade, #44b6ce, #64c5bb);

    --shadow: 2px 2px 20px #231f201f;
}

/* Typography */

html, body {
    font-family: 'Inter', sans-serif;
    color: #130D41;
    font-size: 15px;
    line-height: 1.7rem;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 ,h4, h5, h6 { margin-bottom: 1.7rem; }
p { margin-bottom: 1.5rem; }

/* header */
.navbar-inverse {
    background-color: var(--dim);
    border-color: var(--dim);
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    outline: 0;
    text-decoration: underline; 
}

.navbar-inverse .navbar-nav > li.active > a {
    background-color: transparent;
    color: var(--blue);
}

.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus
{
    background-color: transparent;
    color: var(--blue);
}

/* logo size adjustemtns */
.navbar-brand > #logo {
    height: 40px;
    margin: 5px;
}

/* breadcrumb */

.navbar-default {
    background: var(--purple-gradient-alt);
    border: none;
}

#wrapper {
    background: var(--light);
}

#wrapper::before {
    content: '';
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--purple-gradient-alt);
    z-index: 0;
}

.body-content {
    position: relative;
    z-index: 2;
}

ul.breadcrumb > li {
    color: #fff;
}

ul.breadcrumb > li > a {
    color: #fff;
    cursor: pointer;
    text-decoration: none; 
}

ul.breadcrumb > li > a:hover,
ul.breadcrumb > li > a:focus {
    color: #fff;
    outline: 0;
    text-decoration: underline;
}

/* sidebar */
.sidetoc {
    width: 300px;
    top: 174px;
}

.sidefilter {
    width: 300px;
    top: 114px;
}

.collapse.in, .collapsing {
    text-align: left;
    padding-left: 10px;
}

/* content */
.body-content {
    padding-right: 0px;
    padding-left: 0px;
}

.article {
    background: #fff;
    box-shadow: var(--shadow);

    margin-right: 5%;
    margin-left: 5%;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 4px;
}
.sidetoc {
    box-shadow: var(--shadow);
    border-left: 0;
    border-right: 0;
}
.article img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article.grid-right { 
    margin-left: 370px;
    margin-top: 150px;
    max-width: 1080px;
    min-height: 480px;
}

@media only screen and (max-width: 768px) {
    .article.grid-right {
        margin-left: 5%;
    }
}

.subnav {
    padding-left: 15px;
    padding-right: 15px;
}

/* Links */
button,
a {
    color: #1487aa;
    cursor: pointer;
    text-decoration: none;
}

video {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

button:hover,
button:focus,
a:hover,
a:focus {
    color: var(--blue);
    outline: 0;
    text-decoration: underline;
}

a.disable {
    color: var(--blue);  
    text-decoration: line-through;
}

a.disable:hover,
a.disalbe:focus {
    color: var(--blue);
    text-decoration: underline line-through;
}

/* Table of content */
.toc .nav > li > a {
    color: #333333;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
    color: #333333;
    text-decoration: underline;
}

.toc .nav > li.active > a {
    color: #333333;
    font-weight: bold;
    font-style: italic;
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
    color: #333333;
    text-decoration: underline;;
}

.toc .level2 {
    margin: 5px 0 0 0;
}

.toc ul {
    font-size: 16px;
    margin: 0 0 0 8px;
}

/* search */

#search-results {
    background: #fff;
    width: 100%;

    min-height: 480px;

    padding: 50px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

/* code sample */
.tabGroup {
    margin-bottom: 1rem;
}

/* Sidebar */
body .toc {
    margin: 0;
    padding: 0;
}

body .toc ul {
    margin: 0;
}


body .toc ul li {
    border-top: 1px solid var(--light);
}

/* Tables */
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 13px;
}

/* Sidebar */

/* Accordion */
.toc .nav > li > a {
    font-weight: normal;
}

.toc .nav > li.active > a {
    font-style: normal;
}

.toc .level1 > li {
    padding: 10px 0 10px 10px;
    margin-top: 0;
}

.toc .level1 > li:last-of-type {
    border-bottom: 1px solid var(--light);
}

body .toc ul ul li {
    border: none;
    margin-bottom: 5px;
}

.toc .nav > li > a {
    margin-left: 17px;
}

.sidefilter, body .toc,
.sidetoc {
    background: #ffffff;
}

.toc .level2 {
    font-size: 16px;
    opacity: .6;
    padding: 10px 15px 10px 0;
}

ul.nav.level3 {
    padding: 5px 0 0;
}

.grad-bottom { display: none; }

.footer {
    padding: 25px 0;
    box-shadow: var(--shadow);
    background: #ffffff;
    border: none;
}

body footer {
    display: block !important;
    opacity: 1 !important;
}

.expand-stub {
    left: 7px;
    width: 0; 
    height: 0; 
    overflow: hidden;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    top: 18px;
    transform: rotate(-90deg);
}
.level2 .expand-stub {
    top: 10px;
    left: -3px;
}

.in > .expand-stub {
    border-top: none;
    border-bottom: 5px solid #333;
    transform: rotate(180deg);
}

div.embeddedvideo {
    margin-bottom: 15px;
}

/* Tab */
.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
    color: var(--blue);
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus, .tabGroup a[role="tab"][aria-selected="true"] {
    border-color: var(--blue);
}

article h1, article h2, article h3, article h4 {
    font-weight: 600;
}

/* Pagination */

.pagination>li>a, .pagination>li>span {
    padding: 0;
    color: #fff !important;
    background: var(--blue-gradient);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.pagination>.active>a {
    background: var(--purple-gradient);
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    opacity: .6;
}

@media only screen and (max-width: 768px) {

    .sidenav {
        margin: 0;
    }

    .article { border-radius: 0; }

    #search-results,
    .article.row.grid-right {
        margin: 0 auto !important;
        box-shadow: none;
        overflow: auto;
    }
    #search-results { padding: 25px; }
    .toc .nav > li, .toc .nav > li >a,
    .navbar .navbar-nav {
        display: block;
    }
    #sidetoggle.collapse {
        overflow: hidden;
    }
    .toc li:after {
        display: none;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: none !important;
    }
    .sidenav,
    .sidenav .collapse.in, .collapsing {
        padding: 0;
    }

    .sidefilter, .sidetoc {
        width: 100%;
    }

    footer { position: relative; }
    .footer {
        display: block;
        padding: 15px 0;
    }
}