:root {
    --green: #42AD42;
    --dim: #37474F;
    --light: #f5f5f5;
}

/* Typography */

html, body {
    color: #333;
    font: 16px/1.7 "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5rem;
}

h1, h2, h3 ,h4, h5, h6 { margin-bottom: 1.7rem; }
p { margin-bottom: 1.5rem; }

/* header */
.navbar-inverse {
    background-color: var(--dim);
    border-color: var(--dim);
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    outline: 0;
    text-decoration: underline; 
}

.navbar-inverse .navbar-nav > li.active > a {
    background-color: #fff;
    color: var(--green);
}

.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus
{
    background-color: #fff;
    color: var(--green);
}

/* logo size adjustemtns */
.navbar-brand > #logo {
    height: 40px;
    margin: 5px;
}

/* breadcrumb */

.navbar-default {
    background-color: var(--green);
    border-color: var(--green);
}

ul.breadcrumb > li {
    color: #fff;
}

ul.breadcrumb > li > a {
    color: #fff;
    cursor: pointer;
    text-decoration: none; 
}

ul.breadcrumb > li > a:hover,
ul.breadcrumb > li > a:focus {
    color: #fff;
    outline: 0;
    text-decoration: underline;
}

/* sidebar */
.sidetoc {
    width: 300px;
}

.sidefilter {
    width: 300px;
}

.collapse.in, .collapsing {
    text-align: left;
    padding-left: 10px;
}

/* content */
.body-content {
    padding-right: 0px;
    padding-left: 0px;
}

/* Green Offset */
#wrapper {
    background: linear-gradient(#42AD42 500px, #f5f5f5 500px);
}

.article {
    background: #fff;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 26%);

    margin-right: 5%;
    margin-left: 5%;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.article img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article.grid-right { 
    margin-left: 370px;
    margin-top: 150px;
    max-width: 1080px;
    min-height: 480px;
}

@media only screen and (max-width: 768px) {
    .article.grid-right {
        margin-left: 5%;
    }
}

.subnav {
    padding-left: 15px;
    padding-right: 15px;
}

/* Links */
button,
a {
    color: #76B51B;
    cursor: pointer;
    text-decoration: none;
}

video {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

button:hover,
button:focus,
a:hover,
a:focus {
    color: #76B51B;
    outline: 0;
    text-decoration: underline;
}

a.disable {
    color: #76B51B;  
    text-decoration: line-through;
}

a.disable:hover,
a.disalbe:focus {
    color: #76B51B;
    text-decoration: underline line-through;
}

/* Table of content */
.toc .nav > li > a {
    color: #333333;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
    color: #333333;
    text-decoration: underline;
}

.toc .nav > li.active > a {
    color: #333333;
    font-weight: bold;
    font-style: italic;
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
    color: #333333;
    text-decoration: underline;;
}

.toc .level2 {
    margin: 5px 0 0 0;
}

.toc ul {
    font-size: 16px;
    margin: 0 0 0 8px;
}

/* search */

#search-results {
    background: #fff;
    width: 100%;

    min-height: 480px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 128px;
    padding-right: 128px;
}

/* code sample */
.tabGroup {
    margin-bottom: 1rem;
}

/* Sidebar */
body .toc {
    margin: 0;
    padding: 0;
}

body .toc ul {
    margin: 0;
}


body .toc ul li {
    border-top: 1px solid #ddd;
}

/* Tables */
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 13px;
}

/* Sidebar */

/* Accordion */
.toc .nav > li > a {
    font-weight: normal;
}

.toc .nav > li.active > a {
    font-style: normal;
}

.toc .level1 > li {
    padding: 10px 0 10px 10px;
    margin-top: 0;
}

.toc .level1 > li:last-of-type {
    border-bottom: 1px solid #ddd;
}
body .toc ul ul li {
    border: none;
    margin-bottom: 5px;
}

.toc .nav > li > a {
    margin-left: 17px;
}

.sidefilter, body .toc,
.sidetoc {
    background: #fbfbfb;
}

.toc .level2 {
    font-size: 16px;
    opacity: .6;
    padding: 10px 15px 10px 0;
}

ul.nav.level3 {
    padding: 5px 0 0;
}

.grad-bottom { display: none; }
.footer {
    padding: 25px 0;
}

body footer {
    padding: 25px 0;
    display: block !important;
    opacity: 1 !important;
}

.expand-stub {
    left: 7px;
    width: 0; 
    height: 0; 
    overflow: hidden;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    top: 18px;
    transform: rotate(-90deg);
}
.level2 .expand-stub {
    top: 10px;
    left: -3px;
}

.in > .expand-stub {
    border-top: none;
    border-bottom: 5px solid #333;
    transform: rotate(180deg);
}

div.embeddedvideo {
    margin-bottom: 15px;
}

/* Tab */
.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
    color: var(--green);
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus, .tabGroup a[role="tab"][aria-selected="true"] {
    border-color: var(--green);
}

article h1, article h2, article h3, article h4 {
    font-weight: 600;
}

@media only screen and (max-width: 768px) {

    .sidenav {
        margin: 0;
    }

    #search-results,
    .article.row.grid-right {
        margin: 0 auto !important;
        box-shadow: none;
        overflow: auto;
    }
    #search-results { padding: 25px; }
    .toc .nav > li, .toc .nav > li >a,
    .navbar .navbar-nav {
        display: block;
    }
    #sidetoggle.collapse {
        overflow: hidden;
    }
    .toc li:after {
        display: none;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border: none !important;
    }
    .sidenav,
    .sidenav .collapse.in, .collapsing {
        padding: 0;
    }

    .sidefilter, .sidetoc {
        width: 100%;
    }

    footer { position: relative; }
    .footer {
        display: block;
        padding: 15px 0;
    }
}